{"NumberOfTeams": 4, "VirtualRouterAddress": "172.168.1.128", "ManagementMachineAddress": "172.168.2.100", "Team1Interface": "enp2s0f2", "Team1Address": "172.168.3.100", "Team2Interface": "vmnet4", "Team2Address": "172.168.4.100", "Team3Interface": "vmnet5", "Team3Address": "172.168.5.100", "Team4Interface": "vmnet8", "Team4Address": "172.168.6.100", "VirtualRouterInterface": "vmnet2", "ManagementMachineInterface": "vmnet3"}