{
    "ManagementInterface": "vmnet3",
    "ManagementInterfaceAddress": "172.168.2.100",
    "ManagementMachineInterface": "vmnet3",
    "NumberOfTeams": 5,
    "Team1Interface": "enp2s0f2",
    "Team1InterfaceAddress": "172.168.3.100",
    "Team2Interface": "wlp3s0",
    "Team2InterfaceAddress": "172.168.4.100",
    "Team3Interface": "vmnet4",
    "Team3InterfaceAddress": "172.168.5.100",
    "Team4Interface": "vmnet5",
    "Team4InterfaceAddress": "172.168.6.100",
    "Team5Interface": "vmnet8",
    "Team5InterfaceAddress": "172.168.7.100",
    "UplinkAddress": "172.168.1.128",
    "UplinkInterface": "vmnet2",
    "VirtualRouterInterface": "vmnet2"
}