{
    "ManagementInterface": "vmnet3",
    "ManagementInterfaceAddress": "172.168.2.100",
    "NumberOfTeams": 3,
    "Team1Interface": "vmnet4",
    "Team1InterfaceAddress": "172.168.1.100",
    "Team2Interface": "vmnet8",
    "Team2InterfaceAddress": "172.168.3.100",
    "Team3Interface": "vmnet5",
    "Team3InterfaceAddress": "172.168.4.100",
    "UplinkAddress": null,
    "UplinkInterface": "wlp3s0"
}